/* -------------------------------------------------- */
/*                    Allgemeine Einstellungen       */
/* -------------------------------------------------- */

*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;    
    padding: 0;
  }

/* -------------------------------------------------- */
/*                        Body & Layout               */
/* -------------------------------------------------- */

/* Basis-Einstellungen für das HTML-Dokument */


html, body {
    height: 100%;          
    font-family: 'Bebas Neue', sans-serif;
    color: #000;    
  }

  html {
    scroll-behavior: smooth;
  }

  /* Bilder automatisch an Container anpassen */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* Formularelemente sinnvoll zurücksetzen */
  input, button, textarea, select {
    font: inherit;          /* Schrift vom Body übernehmen */
  }
  
  /* Links neutralisieren */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Listen ohne Einrückungen und Aufzählungszeichen */
  ul, ol {
    list-style: none;
  }
  
  /* Tabellen standardisieren */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/* -------------------------------------------------- */
/*                        Header                      */
/* -------------------------------------------------- */

    header {
        width: 100%;           
        display: flex;  
        position:relative;         
        align-items: center;      
        background-color: #fff;    
        top: 0;
        z-index: 1000;           
    }

/* -------------------------------------------------- */
/*                        Navigation                  */
/* -------------------------------------------------- */

    nav {
        width: 100%;              
        height: 90px;
        display: flex;
        justify-content: center; 
        align-items: center;
        background-color: #EAE2D6;
    }

    .nav_container {
        width: 100%;        
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 0 5rem;      
    }

    nav img {
        display: block;          
        height: 70px; 
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 60px;
        list-style: none;      
         margin: 0;
        padding: 0;
    }

    nav ul li {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    

    #language-switcher {
        appearance: none;      /* Entfernt Standards (so weit wie möglich) */
        background-color: #d5c3aa00;
        border: 1px solid #8676668c;
        border-radius: 0.5rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        color: #333;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="gray" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658c-.566-.682-.106-1.658.753-1.658h9.592c.86 0 1.32.976.753 1.658l-4.796 5.482a1 1 0 0 1-1.506 0z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1rem;
        cursor: pointer;
      }
      
      /* Optional: Hover-Effekt */
      #language-switcher:hover {
        border-color: #867666;
      }

    .menu-toggle {
        display: none; /* Der Button ist erstmal unsichtbar */
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
      }

/* -------------------------------------------------- */
/*                        Hauptbereich                */
/* -------------------------------------------------- */

    main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 100vh);
    grid-template-areas: 
    "landing"
    "about"
    "service"
    "contact"
    "route";
    }

    section {
        min-height: 100vh; 
      }

    #service {
        background-color: blue;
    }

    #contact {
        background-color: rgb(253, 255, 127);
    }

    #route {
        background-color: #7d7d7d;
    }

/* -------------------------------------------------- */
/*                        Sektionen                   */
/* -------------------------------------------------- */
   
/* Allgemeine Einstellungen der Sektionen */
.pages {
        display: flex;
        width: 100%;
        max-width: 1320px;
        justify-self: center;
    }

/* Landing Page Start*/

    .grid_container_landing {
        display: grid;
        width: 100%;
        max-width: 1320px;
        grid-template-columns: 1fr 1fr;   
        grid-template-rows: 1fr;
        grid-template-areas: 
        "landing_left landing_right";
    }

    .landing_left {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        padding-top: 7rem;
    }


    .text_container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .text_container h1 {
        display: block;
        font-size: clamp(2rem, 5vw, 4rem);
        color: #0000009f;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 2rem 2rem 0 2rem;
        text-align:left;
    }

    .text_container h2 {
        display: block;
        font-size: clamp(1rem, 4vw, 2rem);
        color: #0000009f;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 2rem 2rem 0 2rem;
        text-align:left;
    }

    .text_container ul {
        padding: 1rem 1rem 1rem 4rem;
        list-style-type:disc;
        line-height: 1.5rem;
    }

    .text_container ul li {
        font-size: clamp(0.9rem, 1vw, 1rem);
    }

    .landing_right {
        display: flex;
        flex-shrink: 0; 
        width: 90%;
        height: 100vh;
        justify-content: start; 
        align-items:flex-start;     
        overflow: hidden;        
        flex-direction: column;
        padding: 9rem 0rem 0rem 7rem;
    }

    .img_container_landing img{
        height: 300px;
        width: 450px;
        display: block; 
    }

    .button_container {
        display:flex;
        flex-direction: row;
        gap: 40px;
        justify-content:left;
        padding: 1rem 5rem 0rem 3rem;
        z-index: 1000;
    }

    .button_landing {
        border-radius: 5px;
        border: none;
        font-weight: 700;
        background-color: rgba(205, 205, 205, 0.386);
        color: rgba(0, 0, 0, 0.66);
    }

    #left_button {
        height: 35px;
        width: 200px;
        background-color: #ebe2d6;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    #left_button:hover {
        background-color: #D5C3AA;
    }

    #right_button {
        height: 35px;
        width: 120px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }

    #right_button:hover{
        background-color: rgba(205, 205, 205, 0.697);
        -color: #ebe2d6;
    }
    
/* Sektion "Über mich" -> Später über uns */

.grid_container_about{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 25fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "left_arrow center_about right_arrow";
    width: 100%;
    padding: 0 1rem 0 1rem;
}

#arrow_left {
    max-width: 64px;
    min-width: 32px;
    margin-right: 2rem;
    width: 100%;
    height: auto;
    justify-self: right;
}

#arrow_right {
    max-width: 64px;
    min-width: 32px;
    margin-left: 2rem;
    height: auto;
    width: 100%;
    justify-self: left;
}

.arrow_about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    min-width: 32px;
    height: 128px;
    border: none;
    color: #D5C3AA;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.arrow_about:hover {
    color: #867666;
    transform: scale(1.2);
}

.center_about{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.card_about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;       
    top: 0;
    left: 0;              
    transition: opacity 0.5s ease-in-out;
}

.flex_container_about {
    display: flex;
    justify-content: space-between;
    width: 97%;
    height: 60%;
    margin-left: 5rem;
    background-color: #EAE2D6;
    padding: 1rem;
    border-radius: 25px;
    overflow: visible;
    gap: 2rem; /* optional: Abstand zwischen Bild und Text */
}

.flex_container_about img {
    border-radius: 25px;
    width: 40%;
    height: auto;
    margin-top: -6rem; 
    margin-bottom: 2rem;  
    margin-left: -5rem;
    margin-right: 2rem;  
}

.text_wrapper_about {
    position: relative;
    flex: 1;
  }

.text_container_about {
  position: absolute;     /* bleibt immer absolut */
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 0;             /* liegt hinten */
}

.text_container_about.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;  
  }


.text_container_about h2 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    padding: 1 0 0 0;
    text-align: left;
    font-weight: 500;
}

.text_container_about h3 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: left;
    padding: 0 0 2rem 0;
    font-weight: 100;
    position: relative;
    padding-left: 60px; /* Platz für den Strich */
}

.text_container_about h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 50px;           /* Länge des Strichs */
    height: 1px;           /* Dicke des Strichs */
    background-color: #867666; /* Farbe */
}

.text_container_about p {
    font-size: clamp(0.6rem, 1.3vw, 1rem);
    line-height: 1.4;
    text-align: justify;
}

.text_container_about ul {
    list-style: disc;
    font-size: clamp(0.6rem, 1.3vw, 1rem);
    line-height: 1.7;
    text-align: justify;
    padding: 1rem 0 1rem 1rem;
}

.h2_smaller {
    font-size: clamp(1rem, 2.5vw, 2rem)!important;
    text-align: left;
    font-weight: 100;
}
    






#card1 {
    /* background-color: red; */
    opacity: 1;
}

#card2,
#card3,
#card4,
#card5,
#card6 {
    opacity: 0;
}










    
 
/* -------------------------------------------------- */
/*                        Sidebar                     */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/*                        Footer                      */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/*                        Buttons                     */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/*                        Formulare                   */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/*                 Responsive Design (Media Queries)  */
/* -------------------------------------------------- */

@media (max-width: 1024px) {
  
    nav img {
        width:  100px;
        height: auto;
    }

    nav ul {
      display: none; /* Menü ausblenden */
    }
    
    #language-switcher {
      display: none; /* Sprachwechsel auch ausblenden */
    }
    
    .menu-toggle {
      display: block; /* Burger-Button zeigen */
    }
    .grid_container_landing {
        display: grid;
        margin-top: 3rem;
        grid-template-columns: 1fr;    /* Nur eine Spalte */
        grid-template-rows: 30vh 70vh;    /* Zwei Zeilen */
        grid-template-areas: 
            "landing_right"
            "landing_left";
    }
    .text_container h1 {
        margin: 0;
        padding-top: 3rem;
    }
    .text_container h2 {
        margin: 0;
    }
    .landing_left{
        padding: 0;
    }
    .landing_right{
        align-items: center;
        padding:  1rem 0 2rem 0;
    }
    .img_container_landing img {
        height: 250px;
        width: 400px;
    }

    .flex_container_about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin: 0;
        height: 100vh;
    }
    .flex_container_about img {
        border-radius: 25px;
        margin: 0;
        height: auto;
        width: 30%;
    }
    .text_container_about {
        background-color: #EAE2D6;
        border-radius: 25px;
        padding: 1rem;
        width: 100%;
        height: auto;
    }
    
    .text_container_about h3,h2 {
        justify-self: center;
    }
    .text_wrapper_about {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
      }
    } 
    


  @media (max-width:768px) {
    .flex_container_about img {
        width: 60%;
    }
  }

  @media (max-width: 525px) {

    nav {
        height: 60px;
    };
    nav img {
        width:  100px;
        height: auto;
    }
    .img_container_landing img {
        height: 200px;
        width: 350px;
    }
    .button_container{
        flex-direction: column;
    }
    .landing_right{
        align-items: center;
        padding:  1rem 0 0 0 ;
    }
    .flex_container_about img {
        width: 80%;
    }
  }

  @media (max-width: 425px) {
    .img_container_landing img {
        height: 200px;
        width: 350px;
    }
    .button_container{
        flex-direction: column;
    }
    .landing_right{
        align-items: center;
        padding:  1rem 0 0 0 ;
    }
    .flex_container_about img {
        width: 80%;
    }
  }


  @media (max-width: 425px) {
    .flex_container_about img {
        width: 100%;
    }
  }



 
/* -------------------------------------------------- */
/*                Animationen und Effekte             */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/*                   Hilfsklassen (Utilities)         */
/* -------------------------------------------------- */
